@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.location-container {
  background-color: #AD9984;
  color: #EDE6D5;
  display: flex;
}
@media screen and (max-width: 576px) {
  .location-container {
    flex-direction: column;
  }
  .location-container .location-text {
    padding: 1rem 1rem 0 1rem;
  }
  .location-container .location-text h3 {
    text-align: center;
  }
  .location-container .location-map .iframe-map {
    width: 100%;
    height: 300px;
  }
  .location-container .location-map h6 {
    text-align: center;
    padding: 0 0 0.5rem 0;
  }
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  .location-container {
    flex-direction: column;
  }
  .location-container .location-text {
    padding: 1rem 1rem 0 1rem;
  }
  .location-container .location-text h3 {
    text-align: center;
  }
  .location-container .location-map .iframe-map {
    width: 100%;
    height: 400px;
  }
  .location-container .location-map h6 {
    text-align: center;
    padding: 0 0 0.5rem 0;
  }
}
@media screen and (min-width: 993px) {
  .location-container {
    flex-direction: row;
    justify-content: center;
  }
  .location-container .location-text {
    padding: 1rem 1rem 0 1rem;
    width: 25%;
    align-self: center;
  }
  .location-container .location-text h3 {
    text-align: center;
  }
  .location-container .location-map {
    width: 50%;
    height: 400px;
  }
  .location-container .location-map .iframe-map {
    width: 100%;
    height: 100%;
  }
  .location-container .location-map h6 {
    display: none;
  }
}

.subscription-container {
  background-color: #7C6958;
  color: #CDC0AD;
  display: flex;
}
@media screen and (max-width: 576px) {
  .subscription-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  .subscription-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 993px) {
  .subscription-container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 576px) {
  .subscription-container .subscription-image {
    display: none;
  }
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  .subscription-container .subscription-image {
    display: none;
  }
}
.subscription-container .subscription-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.subscription-container .subscription-items .subform input {
  border: none;
  border-radius: 3px;
  padding: 2px 5px;
}
.subscription-container .subscription-items .subform button {
  background-color: #788264;
  border: none;
  border-radius: 3px;
  color: #FFFFFF;
  padding: 2px 5px;
}
@media screen and (max-width: 576px) {
  .subscription-container .subscription-items .subform {
    padding: 0 1rem 1rem 1rem;
    justify-self: center;
    align-self: center;
  }
  .subscription-container .subscription-items .subform input {
    width: 200px;
  }
  .subscription-container .subscription-items .subform button {
    width: 70px;
  }
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  .subscription-container .subscription-items .subform {
    padding: 0 1rem 1rem 1rem;
    justify-self: center;
    align-self: center;
  }
  .subscription-container .subscription-items .subform input {
    width: 200px;
  }
  .subscription-container .subscription-items .subform button {
    width: 70px;
  }
}
@media screen and (min-width: 993px) {
  .subscription-container .subscription-items {
    width: 50%;
  }
  .subscription-container .subscription-items .subform {
    padding: 0 1rem 1rem 1rem;
    justify-self: center;
    align-self: center;
  }
  .subscription-container .subscription-items .subform input {
    width: 300px;
  }
  .subscription-container .subscription-items .subform button {
    width: 100px;
  }
}
.subscription-container .subscription-items .subscription-text {
  padding: 1rem;
}
.subscription-container .subscription-items .subscription-text h3 {
  text-align: center;
}

.pet-info {
  display: flex;
  background-color: #AD9984;
  color: #EDE6D5;
}
@media screen and (max-width: 576px) {
  .pet-info {
    flex-direction: column;
  }
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  .pet-info {
    flex-direction: column;
  }
}
@media screen and (min-width: 993px) {
  .pet-info {
    flex-direction: row;
    justify-content: center;
  }
}
@media screen and (max-width: 576px) {
  .pet-info .pet-image img {
    width: 100%;
  }
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  .pet-info .pet-image img {
    width: 100%;
  }
}
@media screen and (min-width: 993px) {
  .pet-info .pet-image img {
    width: 512px;
  }
}
.pet-info .info-items h2 {
  text-align: center;
}
@media screen and (max-width: 576px) {
  .pet-info .info-items {
    padding: 1rem;
  }
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  .pet-info .info-items {
    padding: 1rem;
  }
}
@media screen and (min-width: 993px) {
  .pet-info .info-items {
    padding: 0.5rem 3rem;
    width: 30%;
  }
}

.pet-container {
  background-color: #7C6958;
  color: #EDE6D5;
  display: flex;
}
@media screen and (max-width: 576px) {
  .pet-container {
    flex-direction: column;
  }
  .pet-container .pet-image {
    width: 100%;
  }
  .pet-container .pet-card {
    padding: 1rem;
  }
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  .pet-container {
    padding: 2rem 1rem;
    flex-direction: column;
  }
  .pet-container .pet-image {
    align-self: center;
    width: 512px;
  }
  .pet-container .pet-card {
    align-self: center;
    padding: 1rem;
    width: 400px;
  }
}
@media screen and (min-width: 993px) {
  .pet-container {
    padding: 2rem 1rem;
    flex-direction: column;
  }
  .pet-container .pet-image {
    align-self: center;
    width: 512px;
  }
  .pet-container .pet-card {
    align-self: center;
    padding: 1rem;
    width: 400px;
  }
}
.pet-container h5 {
  text-align: center;
}

.drink-container {
  background-color: #AD9984;
  color: #EDE6D5;
  display: flex;
}
@media screen and (max-width: 576px) {
  .drink-container {
    flex-direction: column;
  }
  .drink-container .food-image {
    width: 100%;
  }
  .drink-container .food-card {
    padding: 1rem;
  }
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  .drink-container {
    padding: 2rem 1rem;
    flex-direction: column;
  }
  .drink-container .food-image {
    align-self: center;
    width: 512px;
  }
  .drink-container .food-card {
    align-self: center;
    padding: 1rem;
    width: 400px;
  }
}
@media screen and (min-width: 993px) {
  .drink-container {
    padding: 2rem 1rem;
    flex-direction: column;
  }
  .drink-container .food-image {
    align-self: center;
    width: 512px;
  }
  .drink-container .food-card {
    align-self: center;
    padding: 1rem;
    width: 400px;
  }
}
.drink-container h5 {
  text-align: center;
}

.food-container {
  background-color: #7C6958;
  color: #EDE6D5;
  display: flex;
}
@media screen and (max-width: 576px) {
  .food-container {
    flex-direction: column;
  }
  .food-container .food-image {
    width: 100%;
  }
  .food-container .food-card {
    padding: 1rem;
  }
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  .food-container {
    padding: 2rem 1rem;
    flex-direction: column;
  }
  .food-container .food-image {
    align-self: center;
    width: 512px;
  }
  .food-container .food-card {
    align-self: center;
    padding: 1rem;
    width: 400px;
  }
}
@media screen and (min-width: 993px) {
  .food-container {
    padding: 2rem 1rem;
    flex-direction: column;
  }
  .food-container .food-image {
    align-self: center;
    width: 512px;
  }
  .food-container .food-card {
    align-self: center;
    padding: 1rem;
    width: 400px;
  }
}
.food-container h5 {
  text-align: center;
}

.event-card {
  background-color: #AD9984;
  display: flex;
}
@media screen and (max-width: 576px) {
  .event-card {
    flex-direction: column;
  }
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  .event-card {
    flex-direction: row;
    justify-content: center;
    padding: 2rem;
  }
}
@media screen and (min-width: 993px) {
  .event-card {
    flex-direction: row;
    justify-content: center;
    padding: 2rem;
  }
}
@media screen and (max-width: 576px) {
  .event-card .event-image {
    flex-direction: column;
    width: 100%;
  }
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  .event-card .event-image {
    flex-direction: row;
    width: 50%;
  }
}
@media screen and (min-width: 993px) {
  .event-card .event-image {
    flex-direction: row;
    width: 512px;
  }
}
.event-card .event-text {
  color: #EDE6D5;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 576px) {
  .event-card .event-text {
    padding: 1rem;
  }
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  .event-card .event-text {
    padding: 1rem;
  }
}
@media screen and (min-width: 993px) {
  .event-card .event-text {
    align-self: center;
    width: 400px;
    margin-left: 5rem;
    padding: 0 1rem;
  }
}
.event-card .event-text h5 {
  text-align: center;
}
.event-card .event-text .event-button {
  align-self: center;
  background-color: #788264;
  border: none;
  border-radius: 3px;
  color: #FFFFFF;
  padding: 2px 5px;
  width: 100px;
}

.booking-container .booking-info {
  background-color: #AD9984;
  color: #EDE6D5;
  display: flex;
}
@media screen and (max-width: 576px) {
  .booking-container .booking-info {
    flex-direction: column;
  }
  .booking-container .booking-info .booking-image {
    width: 100%;
  }
  .booking-container .booking-info .booking-text {
    padding: 1rem;
  }
  .booking-container .booking-info .booking-text h3 {
    text-align: center;
  }
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  .booking-container .booking-info {
    flex-direction: column;
  }
  .booking-container .booking-info .booking-image {
    width: 100%;
  }
  .booking-container .booking-info .booking-text {
    padding: 1rem 5rem;
  }
  .booking-container .booking-info .booking-text h3 {
    text-align: center;
  }
}
@media screen and (min-width: 993px) {
  .booking-container .booking-info {
    flex-direction: row;
    justify-content: center;
  }
  .booking-container .booking-info .booking-image {
    width: 500px;
  }
  .booking-container .booking-info .booking-text {
    padding: 2rem;
    align-self: center;
    width: 512px;
  }
  .booking-container .booking-info .booking-text h3 {
    text-align: center;
  }
}
.booking-container .booking-form {
  background-color: #7C6958;
  color: #EDE6D5;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 576px) {
  .booking-container .booking-form .form-data1 {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 100%;
  }
  .booking-container .booking-form .form-data2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1rem;
    width: 30%;
  }
  .booking-container .booking-form .form-data3 {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  .booking-container .booking-form {
    align-items: center;
  }
  .booking-container .booking-form .form-data1 {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 400px;
  }
  .booking-container .booking-form .form-data2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1rem;
    width: 400px;
  }
  .booking-container .booking-form .form-data3 {
    display: flex;
    flex-direction: column;
    width: 400px;
  }
}
@media screen and (min-width: 993px) {
  .booking-container .booking-form {
    align-items: center;
  }
  .booking-container .booking-form .form-data1 {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 400px;
  }
  .booking-container .booking-form .form-data2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1rem;
    width: 400px;
  }
  .booking-container .booking-form .form-data3 {
    display: flex;
    flex-direction: column;
    width: 400px;
  }
}
.booking-container .booking-form .form-buttons {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}
.booking-container .booking-form .form-buttons .reset-button {
  background-color: #B3C799;
  border: none;
  border-radius: 3px;
  color: #FFFFFF;
  padding: 2px 5px;
  width: 70px;
  margin-right: 1rem;
}
.booking-container .booking-form .form-buttons .submit-button {
  background-color: #788264;
  border: none;
  border-radius: 3px;
  color: #FFFFFF;
  padding: 2px 5px;
  width: 100px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Yanone Kaffeesatz", sans-serif;
}

body {
  background-color: #EDE6D5;
}

header {
  background-color: #6B5949;
}
@media screen and (min-width: 993px) {
  header {
    padding: 1rem 1rem 2rem 1rem;
  }
}
header .header-container {
  display: flex;
  width: 100%;
}
@media screen and (max-width: 576px) {
  header .header-container {
    flex-direction: column;
  }
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  header .header-container {
    flex-direction: column;
  }
}
@media screen and (min-width: 993px) {
  header .header-container {
    flex-direction: row;
    justify-content: space-between;
  }
}
header .header-container .header-logo {
  justify-self: center;
  align-self: center;
  padding: 0 0.5rem;
  justify-content: space-between;
}
header .header-container .header-logo img {
  align-self: center;
}
header .header-container .header-links {
  display: flex;
  align-self: center;
  margin-top: 1rem;
}
@media screen and (max-width: 576px) {
  header .header-container .header-links {
    flex-direction: row;
    justify-self: center;
    background-color: #6B5949;
  }
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  header .header-container .header-links {
    flex-direction: row;
    justify-self: center;
    background-color: #6B5949;
  }
}
@media screen and (min-width: 993px) {
  header .header-container .header-links {
    flex-direction: row;
  }
}
header .header-container .header-links .links-list li {
  list-style-type: none;
}
header .header-container .header-links .links-list li a:link {
  text-decoration: none;
  color: #CDC0AD;
}
header .header-container .header-links .links-list li a:visited {
  text-decoration: dotted;
  color: #CDC0AD;
}
header .header-container .header-links .links-list li a:hover {
  color: #788264;
}
@media screen and (max-width: 576px) {
  header .header-container .header-links .links-list li {
    display: inline;
    font-size: large;
    margin-right: 0.5rem;
    text-align: center;
  }
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  header .header-container .header-links .links-list li {
    display: inline;
    font-size: large;
    margin-right: 1rem;
    text-align: center;
  }
}
@media screen and (min-width: 993px) {
  header .header-container .header-links .links-list li {
    display: inline;
    font-size: x-large;
    margin-right: 2rem;
  }
}

section .page-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  color: #54473B;
}
section .page-title .icon-one {
  width: 50px;
}
section .page-title .icon-two {
  width: 50px;
}
section .page-title h1 {
  padding: 0 1rem;
}

footer {
  background-color: #54473B;
  padding: 1rem 1rem 0 1rem;
}
footer .footer-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media screen and (max-width: 576px) {
  footer .footer-container {
    flex-direction: column;
    justify-self: center;
  }
}
footer .footer-container .footer-items {
  display: flex;
}
@media screen and (max-width: 576px) {
  footer .footer-container .footer-items {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer .footer-container .footer-items .footer-info .info-list {
    display: flex;
    flex-direction: row;
  }
  footer .footer-container .footer-items .footer-info .info-list li {
    list-style-type: none;
    font-size: small;
    margin-top: 1.5rem;
    margin-right: 1rem;
  }
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  footer .footer-container .footer-items {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer .footer-container .footer-items .footer-info .info-list {
    display: flex;
    flex-direction: row;
  }
  footer .footer-container .footer-items .footer-info .info-list li {
    list-style-type: none;
    font-size: medium;
    margin-top: 1.5rem;
    margin-right: 1rem;
  }
}
@media screen and (min-width: 993px) {
  footer .footer-container .footer-items {
    flex-direction: row;
  }
  footer .footer-container .footer-items .footer-logo {
    margin: 0 4rem 0 0;
  }
  footer .footer-container .footer-items .footer-info .info-list {
    display: flex;
    flex-direction: row;
    margin-top: 4rem;
  }
  footer .footer-container .footer-items .footer-info .info-list li {
    list-style-type: none;
    margin-right: 2rem;
    font-size: large;
  }
}
footer .footer-container .footer-socials {
  display: flex;
}
footer .footer-container .footer-socials .socials-list {
  margin-left: auto;
  align-self: flex-end;
}
footer .footer-container .footer-socials .socials-list li {
  list-style-type: none;
  display: inline;
}
@media screen and (max-width: 576px) {
  footer .footer-container .footer-socials .socials-list li {
    font-size: 1rem;
    margin-right: 0.5rem;
  }
  footer .footer-container .footer-socials .socials-list li .img-icon {
    width: 40px;
  }
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  footer .footer-container .footer-socials .socials-list li {
    font-size: 2rem;
    margin-right: 0.5rem;
  }
  footer .footer-container .footer-socials .socials-list li .img-icon {
    width: 50px;
  }
}
@media screen and (min-width: 993px) {
  footer .footer-container .footer-socials .socials-list li {
    font-size: 3rem;
    margin-right: 1rem;
  }
  footer .footer-container .footer-socials .socials-list li .img-icon {
    width: 50px;
  }
  footer .footer-container .footer-socials .socials-list li .img-icon:hover {
    -webkit-animation: rotate-center 0.6s ease-in-out both;
    animation: rotate-center 0.6s ease-in-out both;
  }
}
footer .footer-container .footer-copyright {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-logo img {
  width: 12rem;
}

@media screen and (max-width: 576px) {
  .footer-logo img {
    width: 16rem;
  }
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  .footer-logo img {
    width: 16rem;
  }
}
@media screen and (min-width: 993px) {
  .footer-logo img {
    width: 30rem;
  }
}

.full-container, header .header-container, footer .footer-container, .header-logo, .footer-logo {
  color: #CDC0AD;
}

.hr {
  color: #CDC0AD;
  width: 98%;
}

/*# sourceMappingURL=style.css.map */
