$color-umber : #6B5949;
$color-taupe: #54473B;
$color-coyote : #7C6958;
$color-beaver : #8C7967;
$color-khaki : #AD9984;
$color-dun : #CDC0AD;
$color-eggshell : #EDE6D5;
$color-bone : #D7D1C2;
$color-silver : #C3BEB0;
$color-resedagreen: #788264;
$color-olivine : #B3C799;
$color-white: #FFFFFF;
